In [ ]:
import pandas as pd
import numpy as np

In [ ]:
flats = pd.read_csv('/content/flats_cleaned.csv')
house = pd.read_csv('/content/house_cleaned.csv')

In [ ]:
flats.columns

Index(['property_name', 'property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [ ]:
house.columns

Index(['property_name', 'property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [ ]:
df = pd.concat([flats,house],ignore_index = True)

In [ ]:
df.shape

(3959, 20)

In [ ]:
df['furnishDetails'].fillna('Na',inplace=True)

In [ ]:
df['furnishDetails'].isnull().sum()

0

In [ ]:
df = df.sample(df.shape[0],ignore_index=True)

In [ ]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 23A Gurgaon,flat,ashiana apartment,0.16,2051.0,780.0,Super Built up area 780(72.46 sq.m.),2,2,2,not available,"Sector 23A Gurgaon, Gurgaon, Haryana",1.0,Na,5 to 10 Year Old,"['HUDA Sector 23 Market', 'Palam triangle', 'P...",Residential apartment for sell.Located on 1st ...,[],NaN,"['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,34 Bedroom House for sale in Manohar Nagar,house,manohar nagar,5.60,12444.0,4500.0,Plot area 500(418.06 sq.m.)Built Up area: 500 ...,34,34,3+,not available,"230/26, Manohar Nagar, Gurgaon, Haryana",4.0,NaN,0 to 1 Year Old,"['Shiv Mahima Patient Care Bureau', 'Navjeevan...",This is a newly constructed building. With pro...,"['36 Fan', '51 Light', 'No AC', 'No Bed', 'No ...",NaN,NaN
2,1 Bedroom House for sale in Sector 39 Gurgaon,house,independent,1.80,21875.0,823.0,Plot area 900(83.61 sq.m.)Built Up area: 800 s...,1,1,2,not available,"00., Sector 39 Gurgaon, Gurgaon, Haryana",3.0,North-East,1 to 5 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",1bhk residential house for resale in sector 39...,Na,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,7.35,22812.0,3222.0,Plot area 358(299.33 sq.m.),4,5,2,"servant room,store room,study room,pooja room","001, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,South,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",Tatvam villas is one of the most luxurious res...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '14 L...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,4 BHK Flat in Sector 82 Gurgaon,flat,mapsko casa bella,3.00,6134.0,4891.0,Super Built up area 4890(454.3 sq.m.),4,6,3+,"pooja room,servant room","A1-2501, Sector 82 Gurgaon, Gurgaon, Haryana",25.0,West,1 to 5 Year Old,"['Vatika City Centre Mall', 'Pataudi Road', 'B...",Best location and amazing view from the pentho...,"['1 Water Purifier', '12 Fan', '1 Exhaust Fan'...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area4.5 out of 5', 'Construction4 out ..."

In [ ]:
df.to_csv('gurgaon_properties.csv',index=False)